@charset "utf-8";
/* CSS Document */


@media screen{
}



body {
    font-family: 'Roboto Slab';
}

.websiteLogo {

  font-family : 'Roboto Slab';
  font-style: light;
  font-variant : small-caps;


}

.nav-link {

    font-family: 'Roboto Slab' ;
    font-style: medium;
}

