{{ partial "header.html" . -}}

<body>
  <div class="container-fluid mb-2 ">
    <div class="row mx-5 my-4">
      <div class="mx-sm-auto my-auto col-sm-5">
         <img class="rounded-4 img-fluid d-block" src="https://drive.google.com/uc?id=1mD7AcSX2RfYYZDcA9ARYLQBDHG45Q6hM"alt="taylan fotoğraf "> 
      </div>
      
      <div class=" mx-sm-auto my-auto col-sm-7">
        <main class="mx-2">
          <h1 class="websiteLogo" style="font-size:54px;">Taylan Çetın</h1>
          <p class="lead">Ben Kabataş Erkek’te okuyan, geleceğine heyecanla bakan, insanlarla hayallerini paylaşmayı seven, yeniliklerin peşinde koşan <span style="font-weight: bold ;">bir gencim</span>.</p>
          <a href="/about-me" class="btn btn-lg btn-dark ">Hakkımda</a>
        </main>
      </div>

    </div>
  </div>
  
  <div class="container-fluid my-2 border-top">
    <div class="row mx-5 my-4">
      <div class="order-sm-last mx-sm-auto my-auto col-sm-5">
         <img class="rounded-4 img-fluid d-block" src="https://drive.google.com/uc?id=1RwQioNr65z5vdIWtNCmoemnP4xpxS6-l" alt="bas çalan taylan "> 
         <p class="text-muted fs-6 mx-auto" >-Amorf'la sahne aldığımız Moral'de bas çalarken</p>
         
      </div>
      
      <div class=" mx-sm-auto my-auto col-sm-7 ">
        <main class="mx-2">
          <h1 class="" style="font-size:54px;">Müzik</h1>
          <p class="lead">
            Evrensel sonu olmayan bir dil Müzik. Ben bu dili keşfetmeyi seviyorum. Başkalarını dinlemeyi, kendim konuşmayı  
          </p>
          <p class="lead fs-6">
            Bu bölümde benim müzikle olan maceramı, aldığım kayıtları, dinlediğim ve incelediğim parçaları bulabilirsin
          </p>

          
          <a href="/music" class="btn btn-lg btn-dark ">Müzik</a>
        </main>
      </div>

    </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
    integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
    crossorigin="anonymous"></script>
</body>

{{- partial "footer.html" . }}

</html>

</html>